.navbar {
  height: 100px;
  background-color: #333;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: right;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
